.contactrow{
    height: 100vh;
    overflow: hidden;
    z-index: 5;
}
 .contactcircle1{
    border-radius: 50%;
    width:120%;
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: #ccff33;
    transform: translate(-50%, -50%); 
    z-index: 5;
}

.contactcircle1:before{
    content: "";
    display: block;
    padding-top: 100%;
}