.mainproj1{
    background-color: #ffff;
    overflow: hidden;
    height: 100vh;
}

.evokedesc{
    padding-top: 100px;
    padding-bottom: 100px;
}

.mainproj1 h1{
    font-family:'Pacifico-Regular';
    font-size: 48px;
}

.relvect{
    background-image: url("../assets/images/edu.svg");
    background-position: bottom; 
}

.svgpattern{
    background-image: url("../assets/images/wave2.svg");
    background-repeat: no-repeat !important;
    background-position-y: center;
    height: 30vh;
    background-size: 100%;
}

.visitpage{
    padding-top:.5%;
    padding-bottom: .5%;
    padding-right: 2%;
    padding-left: 2%;
    background: #9cff62;
    border: 4px solid black;
    font-weight: bold;
}

.visitpage:hover{
    background:black;
    color: #9cff62; 
}