.navbar{
  background-color: #9cff62;
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
}

.nav-link{
  color: rgba(22,160,133) !important;
  font-weight: bolder;
}

.nav-link:hover{
  color:#009137 !important;
  border-bottom:2px solid #009137 ;
  cursor: pointer;
}

.nav-item .active{
  color:#009137 !important;
}

.navbar-collapse{
flex-grow: 0 !important;
}

.NavbarToggler{
background-color:rgba(22,160,133) ;
}