/* .tobefixed{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0; 
} */

.pastprojrow{
    height: 100vh;
    overflow: hidden;
}


 .circle1{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7.8vw black;
    width:110%;
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: none;
    transform: translate(-50%, -50%); 
    z-index: 3;
}

.circle2{
    border-radius: 50%;
    width:70%;
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%); 
    z-index: 3;
}

.circle3{
    border-radius: 50%;
    box-shadow: 0px 0px 0px .2vw #9cff62;
    width:9%;
    position: absolute;
    top: 90%;
    left: 50%;
    background-color: none;
    transform: translate(-50%, -50%); 
    z-index: 4;
    color: #9cff62;
    height: 9vw;
    font-family:'Pacifico-Regular';
    text-align: center;
    font-size: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-left: 1vw;
}

.circle3:hover{
  color: black;
  background-color: #ccff33;
  cursor: pointer;
}

.circle4{
    border-radius: 50%;
    box-shadow: 0px 0px 0px .2vw #9cff62;
    width:70%;
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: none;
    transform: translate(-50%, -50%); 
    z-index: 3;
}

.circle5{
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1.6vw black;
  width:109%;
  position: absolute;
  top: 150%;
  left: 50%;
  background-color: none;
  transform: translate(-50%, -50%); 
  z-index: 3;
}

.circle6{
  border-radius: 50%;
  box-shadow: 0px 0px 0px .2vw #9cff62;
  width:109%;
  position: absolute;
  top: 150%;
  left: 50%;
  background-color: none;
  transform: translate(-50%, -50%); 
  z-index: 3;
}

.circle7{
  border-radius: 50%;
  box-shadow: 0px 0px 0px .2vw #9cff62;
  width:126%;
  position: absolute;
  top: 150%;
  left: 50%;
  background-color: none;
  transform: translate(-50%, -50%); 
  z-index: 3;
}



.circle1:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.circle2:before{
    content: "";
    display: block;
    padding-top: 100%;
}

/* .circle3:before{
    content: "";
    display: block;
    padding-top: 100%;
} */

.circle4:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.circle5:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.circle6:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.circle7:before{
  content: "";
  display: block;
  padding-top: 100%;
}

/* .bottomline{
  height: 2vw;
  width:52%;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -50%); 
  z-index: 3;
} */

.paletteouter{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

.palette {
    --g:3px; /* The gap between shapes*/
    --s:50vw; /* the size*/
  
    height:114vw;
    width:114vw;
    display:inline-block;
    overflow:hidden;
  }

  .palette > * {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:var(--s) solid var(--c,white);
    border-radius:50%;
    clip-path:polygon(
      calc(50% + var(--g)/2) 50%, 
      calc(50% + var(--g)/2) 0%, 
      100% 0%,
      100% calc(33.745% - var(--g)/2),
      50% calc(50% - var(--g)/2)); 
  }
  .color1 {
    transform:rotate(72deg);
  }
  .color2 {
    transform:rotate(144deg);
  }
  .color3 {
    transform:rotate(-72deg);
  }
  .color4 {
    transform:rotate(-144deg);
  }

  .palette{ 
    transform: rotate(180deg);
    
  }

  .rotateright{
    animation: rrotate 2s ; 
  }

  @keyframes rrotate {  
    0%  {transform: rotate(180deg);
    
    } 
    50%   {transform: rotate(260deg);
    
    }
    100%  {transform: rotate(252deg);

    }
  }

  .rotateleft{
    animation: lrotate 2s ; 
  }

  @keyframes lrotate {  
    0%  {transform: rotate(180deg);
    
    } 
    50%   {transform: rotate(100deg);
    
    }
    100%  {transform: rotate(108deg);

    }
  }

  .innerdiv h3{
      font-size: 1.8vw;
      filter:brightness(30%);
  }

  .innerdiv p{
    font-size: 1.1vw;
    filter:brightness(30%);
} 
    .innerdiv h5{
        font-size: 1.2vw;
        filter:brightness(30%);
    }

.innerdiv{
    z-index: 5;
    transform: translate(-4%,-148%) rotate(36deg);
    text-align: center;
    width: 68vw;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vw;
    padding-bottom: 12vw;
    color: white;
    background-size: cover;
    filter:brightness(30%);
}

 .nextbtn{
    position: absolute;
    top:85%;
    right:32%;
    width:4vw;
    height: 4vw;
    color: #9cff62;
    z-index: 5;
    cursor: pointer;
    font-size: 4vw;
}

.nextbtn:hover{
  cursor: pointer;
  color: #ccff33;
}

.prevbtn{
  position: absolute;
  top:85%;
  left:32%;
  width:4vw;
  height: 4vw;
  color: #9cff62;
  z-index: 5;
  cursor: pointer;
  font-size: 4vw;
}

.prevbtn:hover{
cursor: pointer;
color: #ccff33;
}

.arc-text{
  font-size:5vw;
  color: #9cff62;
}


